@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;

}

.display-flex{
  display: flex;
}
/* Navbar Styles */
.navbar{
  align-items: center;
  justify-content:space-around;
  margin: 15px auto;
  max-width: 1160px;
}

.navbarlogo{
  align-items: center;
  
}

.nav-title{
  font-size: 2rem;
  font: bolder;
}
.navbar-links{
  list-style: none;
  gap: 30px;
  
  
}

.nav-link1-color{
  color: rgba(254, 163, 1, 1);
  font: bolder;
}

.nav-link2-color{
  color: rgba(1, 172, 253, 1);
  font: bolder;
}

.nav-link3-color{
  color: #05D4DF;
  font: bolder;
}

.nav-link4-color{
  color: rgb(28, 22, 200);
  font: bolder;
}

.nav-btn{
  border-radius: 10px;
  border: none;
  background-color: rgba(254, 163, 1, 1);
  padding: 10px;
  color: white;
  width: 160px;

}

.banner-btn{
  border-radius: 10px;
  border: none;
  background-color: black;
  padding: 10px;
  color: white;
  width: 160px;
}

.navlinkitem{
  text-decoration: none;
}

#banner{
  align-items: center;
  max-width: 1060px;
  margin: 0 auto;
}

.banner-contant{
  margin-right: 130px;
  max-width: 640px;
}
.banner-content-title{
  font-size: 2rem;
}

.banner-para{
  margin: 10px 0;
}

#enp-clr{
  color: rgba(254, 163, 1, 1); ;
}
#twr-clr{
  color: rgba(1, 172, 253, 1);

}
.banner-img{
  width: 100%;
}
#xyz{
  display: none;
}
/* Card Section  */

#card-section{
  /* width: 1440px;
  height: 880px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
}

.cards{
  display: flex;


}

.card-1{
  height: 475px;
  width: 370px;

}

.card-2{
  height: 475px;
  width: 370px;

}

.card-3{
  height: 475px;
  width: 370px;

}



/* Responsive media query */

@media screen and (max-width: 576px) {
    .navbar-links, .nav-title, .nav-btn{
      display: none;
    }
    #banner{
      flex-direction:column-reverse;
      margin-left: 30px;
    }
    #xyz{
      display: block;
    }

  
}
